./
Build/
build/
debug/
release/
Brion/
Deflect/
Lunchbox/
MVDTool/
Pydoxine/
Rockets/
Servus/
vmmlib/
HighFive/
Keyv/
plugins/extensions/usecases/
CMakeFiles
.DS_Store
*~
*#
*.autosave
*.files
*.config
*.includes
*.creator*
*.user
python/.coverage
python/.idea/
python/brayns.egg-info/
python/.installed
python/pycodestyle.txt
python/pylint.txt
*.pyc
python/dist/
python/.tox/
python/venv/
